# Fichiers Docker
.env
.env.local

# Données des volumes Docker
data/
volumes/
projects/

# Logs
*.log
logs/

# Fichiers temporaires
*.tmp
*.bak
*~

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Données des bases de données (si exposées localement)
mysql_data/
mariadb_data/

# Fichiers de configuration sensibles
secrets/
credentials/


docker-compose.yml
Projet - Conteneurisation Hybride.pdf